<%- include layouts/header.ejs %>

<div class="container">
  <h1><%= title %></h1>  
  
  <div class="row">

    <% for(var libro=0;libro<Libros.length;libro++) { %>  
    
    <div class="col-sm-3">
      <div class="card">
        <img heigth="317"src="<%=Libros[libro].imagen%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=Libros[libro].titulo%></h5>
          <p class="card-text"><%=Libros[libro].descripcion%><br />
          <h5>Precio: $<%=Libros[libro].precio%></h5>
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>    

    <% } %>

</div>

<%- include layouts/footer.ejs %>